@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
.container{
    font-family: 'Castoro', serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav "
   "header header"
    "characterInfo artifactBuild"
    "consolationInfo consolationInfo"
    "picture picture"
    "footer footer";
}
 
@media screen and (max-width: 900px){
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "nav"
      "header"
     "artifactInfo" 
     "artifactBuild"
     "characterInfo"
      "picture"
      "footer";
  }
}

.body{
    background-color: aliceblue;
}

.nav {
    grid-area: nav;
    background-color: aliceblue;
    padding: 20px;
}
.nav li {
    display: inline;
    padding: 20px;
}

.header {
  grid-area: header;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
    
}


a {
  color: black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}



.characterInfo {
    background-color: aliceblue;   
    grid-area: characterInfo;
    padding: 50px;
}

.artifactBuild {
    background-color: aliceblue;
    grid-area: artifactBuild;
    /*padding:200px;*/
}

.artifactInfo {
  background-color: aliceblue;
  grid-area: artifactInfo;
  padding: 50px;
}

.consolationInfo {
       background-color: aliceblue;
     
    grid-area: consolationInfo;
}

.picture {
      background-color: aliceblue;
    grid-area: picture;
    padding: 200px
    
}

footer {
  grid-area: footer;
  padding: 30px;
  text-align: center;
}


img{
   
   width:100%;
}


input[type=checkbox] {
    display: none;
  }
.container img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
  
.container img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: zoom-out;
}
