.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav"
    "picture_1 picture_1 text_1"
    "text_2 picture_2 picture_2"
    "text_3 text_3 picture_3"
    "footer footer footer";
}
  
body{
    background-color: antiquewhite;
}

.nav {
    grid-area: nav;
    background-color: aliceblue;
    padding: 20px;
    
}
.nav li {
    display: inline;
    padding: 20px;
}
.picture_1{
    grid-area: picture_1;
    background-color:aliceblue ;
}
.text_1{
    grid-area: text_1;
    background-color: aliceblue;
    padding: 20px;
}
.text_2{
    grid-area: text_2;  
    background-color:aliceblue ;
    padding: 20px;
}
.picture_2{
   grid-area: picture_2;
   background-color: aliceblue;
}
.text_3{
    grid-area:text_3;
    background-color:aliceblue;
    padding: 20px;   
}
.picture_3{
    grid-area: picture_3;
    background-color:aliceblue;
}

.footer {
    grid-area: footer;
}